commentjson
flake8
h5py
ipykernel
matplotlib
notebook
numpy
opencv-python
requests
scikit-image
scikit-learn
scipy
seaborn
test-tube
torch
tqdm
pyarrow
pytorch-lightning
lightning-bolts
deepspeed
pandas
tensorboard
torchvision
pickle